.search-container{
    background-color: rgba(0, 0, 0, 0.808);
    text-align: center;
    line-height: 40px;
}
.search-container input{
    width: 60%;
}
.shop-container{
    display: flex;
}
.product-conatiner{
    width: 75%;
    margin-left: 110px;
    margin-right: 5px;
    border-right: 2px solid lightgrey;
}
